.project-card {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0 0 auto;
    aspect-ratio: 49 / 29;
    border-radius: 10px;
    box-shadow: var(--shadow-spread);
  }
}

.project-text {
  position: relative;
  z-index: 1;
  gap: 5px;
}

.project-headline {
  position: relative;
  white-space: nowrap;
  > * {
    transition: opacity 0.3s ease;
    will-change: opacity;
  }
  .project-url {
    inset: 0;
    opacity: 0;
    display: flex;
    position: absolute;
    justify-content: center;
    pointer-events: none;
  }
  &.start .project-url {
    justify-content: start;
  }
}

.project-headline:hover,
.project-info:has(.link-icon:hover) .project-headline,
.project-media:hover + .project-info .project-headline {
  .project-credit {
    opacity: 0;
  }
  .project-url {
    opacity: 1;
    pointer-events: auto;
  }
}

.project-info:has(.project-headline:hover) .link-icon .arrow,
.project-media:hover + .project-info .link-icon .arrow {
  rotate: 45deg;
}
